.table {
	display: block;
	width: 100%;

	&__row {
		display: inherit;
		width: inherit;
	}

	&__cell {
		display: inline-block;
	}

	&__cell__group {
		padding: 0 10px;
		display: table-cell;
		& > * {
			display: block;
		}
	}
}